{{> navbar}}

<div class="light-box">
  <div class="container">


    {{#if loggedIn}}
      {{> management-tool}}
    {{/if}}

    {{!-- posts --}}
    {{#each posts}}
    <div class="col-sm-12 post">
      <div class="thumbnail">

        <a href="/{{author}}/posts/{{_id}}">
          <img src="/upload/{{picture}}">
        </a>


      </div>
      <div class="caption">
        <div class="item-info">
          <div>
            <a href="/{{author}}/posts/{{_id}}" class="post-title">{{title}}</a>

            {{#if ../editable}}
              <div class="btn-group">
                <a href="/{{author}}/posts/{{_id}}?action=update" id="btn-edit"></a>
                <a href="/{{author}}/posts/{{_id}}?action=delete" id="btn-delete"></a>
              </div>
            {{/if}}

          </div>
          <div class="author">
            <span id="author-name">{{author}}</span>
            <span id="date_created">posted on {{date_created}}</span>
          </div>
          <div class="teaser">{{teaser}}</div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
